<div class="tabVerContent" id="GachaLog">
  <div class="menuVertNavBar">
    <button class="tablinksVert">Add Data</button>
    <button class="tablinksVert">View Data</button>
  </div>
  <div class="addDataGacha" id="GachaDataAdd">
    <label for="nName"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username" name="nName" id="nName" />
    <label for="gachatime">Time of Gacha (date and time):</label>
    <input type="date" id="gachatime" name="gachaDate" min="2022-01-01" />
    <label for="crystalsUsed"><b>Crystals Used</b></label>
    <input
      type="text"
      placeholder="e.g 3000"
      name="crystalsUsed"
      id="crystalsUsed"
      required
    />
    <label for="vol">New SSR Chars obtained (between 0 and 99):</label>
    <input
      type="number"
      id="vol"
      name="vol"
      min="0"
      max="99"
      onchange="loadCharacterDropdown()"
    />
    <div id="characterAdderSeg">
      <label for="characterList">SSR Character obtained</label>
      <select id="characterList" name="characterList" size="1"></select>
      <button id="characterObtained" onclick="addCharacterToWall()">
        Add Character
      </button>
      <div id="characterWall"></div>
    </div>
    <button type="button" onclick="loadGachaLogFile()">
      Add to Gacha Log Database
    </button>
    <div>
      <button type="button">Cancel</button>
    </div>
  </div>
  <div class="dropdownGacha" id="dropdownGacha">
    <button onclick="gachaDropDownNav()" class="dropbtn">Dropdown</button>
    <div id="gachaDrop" class="dropdown-content">
      <a href="#">Link 1</a>
    </div>
  </div>
</div>
